asgiref==3.8.1
Django==5.1.6
django-redis==5.4.0
django-rest-framework==0.1.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
drf-yasg==1.21.10
inflection==0.5.1
numpy==2.2.5
packaging==24.2
pillow==11.1.0
protobuf==5.29.4
pyarrow==19.0.1
PyJWT==2.9.0
pytz==2025.2
PyYAML==6.0.2
redis==6.0.0
rpds-py==0.24.0
six==1.17.0
smmap==5.0.2
sqlparse==0.5.3
tenacity==9.1.2
toml==0.10.2
tornado==6.4.2
typing_extensions==4.13.1
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.3.0
watchdog==6.0.0
